<router-outlet></router-outlet>
<html>

<head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <style>


  </style>
</head>

<body style="background: black; ">
  <pre></pre>
    <pre></pre>
    <section class="details-card">
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-content" style="background: black;">
        
    </div>
    </div>
    <div class="col-md-4" style="-ms-grid-column-align: end;">
        <div class="card-content" style="background: black;">
            <div class="card-desc">
                <h1>Why Choose us!</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
        </div>
    </div>
    </div>
</div>
</div> -->

<div class="container">
    <div class="row align-items-stretch justify-content-start card-deck">
     <div class="card" style="background-color: black; margin-left: 50px;" >
       <div class="card-body">
        <img src="./assets/private.gif"  alt="">
       </div>
     </div>
     <div class="card" style="margin-left: 60px; background-color: black; margin-top: 50px;">
       <div class="card-body">
        <div class="card-text">
            <h1>इस साइट के बारे में</h1>
            <p style="margin-right: 50px;">एक जगह जहां आप इस दुनिया के सभी रोचक तथ्य पा सकते हैं।</p>
        </div>
       </div>
     </div>
    </div>
  </div>
    </section>

  <section class="details-card" style="margin-top: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-4 col-lg-9">
                <div class="card-content" style="background: black;">
                    <div class="card-img">
                        <img src="./assets/sindhutai1.jpg" alt="">
                        <span><h4>29/11/2021</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3 style="color: white;">सिंधुताई सपकाल</h3>
                        <p>सिंधुताई सपकाल महाराष्ट्र के गांव पिंपरी मेघे में 14 नवम्बर 1948 को जन्मी थी। सिंधुताई सपकाल आजकल चर्चा का विषय बनी हुई हैं। क्योंकि उन्हें 2021 के पद्मश्री पुरस्कार से सम्मानित किया गया है अपने सामाजिक कार्य के लिए। <strong>...</strong></p>
                          <pre></pre>  
                        <a href="sindhutai1" class="btn-card" style="font-size: medium;">अधिक पढ़ें</a>   
                    </div>
                </div>
                <br><br><br>
                <br>
                
            </div>

            <div class="col-12 col-sm-8 col-md-4 col-lg-9">
                <div class="card-content" style="background: black;">
                    <div class="card-img">
                        <img src="./assets/rammnurti.jpeg" alt="">
                        <span><h4>17/11/2021</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3 style="color: white;">कलयुग के भीम (प्रो. राममूर्ति नायडू )</h3>
                        <p>1882 में जन्में, अपने शारीरिक करतबों से मशहूर प्रोफ़ेसर राममूर्ति नायडू आंध्र प्रदेश के रहने वाले थे। उन्होंने व्यायाम को अपनी शारीरिक क्षमता का राज बताया था। वह रोजाना व्यायाम और प्राणायाम करते थे, जिससे उनकी क्षमता आम जन से अधिक थी। <strong>...</strong></p>
                          <pre></pre>  
                        <a routerLink="/1" class="btn-card" style="font-size: medium;">अधिक पढ़ें</a>   
                    </div>
                </div>
                <br><br><br>
                <br>
                
            </div>
            
            <div class="col-12 col-sm-8 col-md-4 col-lg-8">
                <div class="card-content" style="background: black;">
                    <div class="card-img">
                        <img src="./assets/squi1.jpeg" alt="" >
                        <span><h4>18/11/2021</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3 style="color: white;">स्क्विड गेम (करोड़ों डॉलर का कारोबार)</h3>
                        <p>आज हम बात करने जा रहे हैं पॉपुलर टीवी सीरीज स्क्विड गेम के बारे में। नेटफ्लिक्स के द्वारा रचित यह टेलीविजन शो 2020-2021 का अब तक का सबसे हिट शो माना जा रहा है। <strong>...</strong> </p>
                         <pre></pre>  
                        <a routerLink="/2" class="btn-card" style="font-size: medium;">अधिक पढ़ें</a>
                    </div>
                </div>
                <br><br><br>
                <br>
                
            </div>
            
            <!-- <div class="col-12 col-sm-8 col-md-4 col-lg-9">
                <div class="card-content" style="background: black;">
                    <div class="card-img">
                        <img src="https://placeimg.com/380/230/tech" alt="">
                        <span><h4>JPA</h4></span>
                    </div>
                    <div class="card-desc">
                        <h3 style="color: white;">Heading3</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                            voluptas totam </p>
                            
                            <a href="#" class="btn-card">Read more</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>





<!-- details card section starts from here -->
</body>
</html>
