<html>
    <head>

    </head>
    <body>
        
    


        
        <div class="container">


            <div class="card" style="width: 400px;">
                <div class="face face1">
                  <div class="col-12 col-sm-6 col-md-4 col-lg-9">
                  <div class="content">
                    <span class="stars"></span>
                    <h2 class="python" style="text-align: center;">हम कौन हैं ？</h2>
                    <p class="python" style="text-align: center; margin-left: 25px; margin-right: 25px;">हम एक प्रकार के समुदाय हैं, जो राजनीति, खेल, सार्वभौमिक, भौगोलिक आदि जैसे विभिन्न विषयों पर रोचक तथ्य प्रदान करते हैं।</p>
                  </div>
                </div>
              </div>
                <!-- <div class="face face2">
                  <h2 style="color: rgb(7, 10, 58);">हमारा लक्ष्य</h2>
                </div> -->
                <pre></pre>
              </div>
           
            <div class="card">
              <div class="face face1">
                <div class="col-12 col-sm-8 col-md-4 col-lg-9">
                <div class="content">
                  <span class="stars"></span>
                  <h2 class="java">हमारा उद्देश्य</h2>
                  <p class="java">हमारा उद्देश्य आपको सही और सत्य तथ्य प्रदान करना है।</p>
                </div>
              </div>
              <div class="face face2">
                <h2 style="color: rgb(7, 10, 58);">हमारा उद्देश्य</h2>
              </div>
              </div>
              <pre></pre>
            </div>
          
            
          
            <!-- <div class="card">
              <div class="face face1">
                <div class="content">
                  <span class="stars"></span>
                  <h2 class="cSharp">C#</h2>
                  <p class="cSharp">C# is a general-purpose, multi-paradigm programming language encompassing static typing, strong typing, lexically scoped and component-oriented programming disciplines.</p>
                </div>
              </div>
              <div class="face face2">
                <h2 style="color: rgb(9, 2, 46);">03</h2>
              </div>
            </div> -->
          </div>
        
    </body>

</html>