<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  

    </head>
    <body style="background-color: black;">

        <section class="details-card" style="margin-top: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8 col-md-4 col-lg-8">
                        <div class="card-content" style="background: black;">
                            <div class="card-img">
                                <img src="./assets/rammnurti.jpeg" alt="">
                                
                            </div>
                            <div class="card-desc">
                                <h3 style="color: white;">कलयुग के भीम (प्रो. राममूर्ति नायडू )</h3><pre></pre>
                                <p>1882 में जन्में, अपने शारीरिक करतबों से मशहूर प्रोफ़ेसर राममूर्ति नायडू आंध्र प्रदेश के रहने वाले थे। उन्होंने व्यायाम को अपनी शारीरिक क्षमता का राज बताया था। वह रोजाना व्यायाम और प्राणायाम करते थे, जिससे उनकी क्षमता आम जन से अधिक थी।</p>
                                <p>उन्हें लंदन की क्वीन मैरी और ब्रिटिश राजा जॉर्ज पंचम ने लंदन की बर्किंघम पैलेस में सम्मान से नवाजा था। ब्रिटिशर्स उन्हें इंडियन हरक्यूलिस के नाम से जानते थे। प्रोफ़ेसर राममूर्ति नायडू अपने शारीरिक करतबों की वजह से ब्रिटिशर्स में बहुत लोकप्रिय थे। उनके करतब देखकर लोग दांतो तले उंगली दबाते थे।</p>
                                <br><br><br>
                                <div class="card-img">
                                    <img src="./assets/rammnurti1.jpeg" alt="">
                                    
                                </div>
                                <br>
                                <h5 style="color: white;">बाल जीवन और कुश्ती</h5>
                                <p>प्रोफ़ेसर राममूर्ति नायडू के बारे में कहा जाता हैं कि उन्होंने एक बार चीते के बच्चे को अपने कंधे पर बैठाकर गांव भर में घुमाया था। जिसे देखकर लोग आश्चर्य चकित हो गए थे। बचपन से प्रोफ़ेसर में गजब का आत्मविश्वास था। प्रोफ़ेसर राममूर्ति नायडू के चाचा ने उनके आत्मविश्वास को देखते हुए उन्हें फिटनेस सेंटर में ट्रेनिंग दिलवाई। उसके बाद उन्होंने मद्रास में 1 साल तक कुश्ती सीखी और देश विदेश की प्रतियोगिताओं में अपना लोहा मनवाया। </p>
                                <pre></pre>
                               
                                <h6 style="color: white;">चलिए जानते है प्रोफ़ेसर राममूर्ति नायडू के बारे मे कुछ रोचक तथ्य :</h6>
                                <ul style="color: gray;">
                                <pre></pre><li> प्रोफ़ेसर राममूर्ति नायडू का शरीर इतना मजबूत था कि एक बार उन्होंने एक हाथी को अपनी छाती पर कुछ देर रोककर रखा था।</li>
                                <li> वह सिर्फ व्यायाम और प्राणायाम करते थे । कहा जाता हैं कि वे एक बार में 1500 से 3000 तक दंड लगाते थे और 5000 से 10000 तक बैठक।</li>
                                <li>प्रोफ़ेसर राममूर्ति नायडू की छाती 45 इंच की थी जो की फुलाने पर 57 इंच की हो जाती थी। </li>
                                <li>वह 25-25 घोड़ों की घोड़ा गाड़ी यूं ही हाथों से रोक देते थे।</li>
                                <li>वह आधे इंच मोटी लोहे की जंजीरों को आराम से तोड़ मरोड़ देते थे।</li>
                            </ul>
                            <br>
                            <br>
                            <div class="card-img">
                                <img src="./assets/rammnurti2.jpeg" alt="">
                                
                            </div><pre></pre>
                            <pre></pre>
                            <h6 style="color: white;">प्रोफ़ेसर राममूर्ति नायडू के कुछ विचार :</h6>
                            
                            <ul style="color: gray;">
                            <li>प्रोफ़ेसर राममूर्ति नायडू जी का मानना था कि हर कोई उनके जैसा मजबूत शरीर पा सकता है अगर वो रोज व्यायाम और प्राणायाम करे तो।</li>
                            <li>प्रोफ़ेसर राममूर्ति नायडू जी का मानना था कि हर किसी को मन से, वचन से , तन से पवित्र रहना चाहिए।</li>
                            <li>उनका मानना था कि हमें खुश रहना चाहिए।</li>
                            <li>वे बताते थे कि हमें प्रयत्न करते रहना चाहिए और निरंतर प्रयास से सफलता हासिल करनी चाहिए। </li>
                            </ul>
                            <br>
                            <p style="color: gray;">आज प्रोफ़ेसर राममूर्ति नायडू के विचारो से हर कोई प्रभावित हैं। प्रोफ़ेसर राममूर्ति नायडू 1942 में दुनिया से चले गए लेकिन व्यायाम, प्राणायाम और देसी कुश्ती के बारे में भारतीयों को जागरूक कर गए।</p>
                        </div>
                    </div>
                        <br>
                        
                    </div>
                    </div>
                    </div>
                    </section>

    </body>
</html>
